.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-datepicker-week-col { text-align: center; }

* {
    color: #333;
}

.ui-widget {
    font-size: 93%;
}

h1, h3, h3, h4, strong, b, .bold { font-weight: bold;}
h1 { font-size: 197% }
h2 { font-size: 174% }
h3 { 
    font-size: 116%;
    margin-top: 20px;
}

*[disabled] {
    color: #666;
}

.center {
    margin: 0 auto;
    margin-top: 20%;    
    text-align: center;
}

.container {
    border: 1px solid #ccc;
    padding: 10px;
}

.login {
    width: 200px;
}

.confirm {
    width: 410px;
}

#admin-panel {
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding: 5px;
    position: relative;
    height: 21px;

    background: #F5F8F9; 
}

#admin-panel .current_user {
    margin-left: 20px;
    margin-right: 10px;
    line-height: 22px;
}

#admin-panel .left {
    position: absolute;
    right: 5px;
    top: 5px;
}

#admin-panel .action {
    margin-left: 10px;
    font-size: 123.1%;
    float: left;
    line-height: 22px;

    color: #333;
}

#admin-panel a.add {
    text-indent: -999999px;
    display: inline-block;
    width: 24px;
    height: 24px;

    background: url(/images/service/plus.png);

    opacity: 0.3;
}

#admin-panel a.add:hover {
    opacity: 1;
}

.content {
    margin: 0 auto;
    width: 960px;

    padding-top: 20px;
}

form.service_form {
    margin-top: 20px;
}

form.service_form li {
    padding: 15px;
}

form.service_form li > input[type=submit] {
    padding: 5px 15px;
}

form.service_form li > label {
    display: inline-block;
    width: 200px;
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 93%;
}

form.service_form ol > li {
    position:relative;
    padding-left: 220px;
    font-size: 108%;
}

form.service_form ol > li.no-padding {
    padding-left: 15px;
}


form.service_form ol > li.header {
    padding-left: 5px;
    font-weight: bold;
}

form.service_form li > select {
    padding: 5px;
}

form.service_form li > input[type=text] {
    border: 1px solid #ccc;
    padding: 5px;
    width: 300px;
}

form.service_form li > input.datetime {
    width: 150px;
    background: url(/images/service/calendar.png) center right no-repeat;

    background-position: 140px 5px;
}

form.service_form li > textarea {
    border: 1px solid #ccc;
    padding: 5px;
    width: 300px;
    height: 100px;
}

ol.issues li {
    padding: 5px;
    margin: 5px;
}

ol.issues .state {
    font-size: 85%;
    margin-left: 5px;
    display: inline-block;
    width: 90px;
    white-space: nowrap;
}

ol.issues .updated, ol.issues .user {
    font-size: 85%;
    margin-left: 10px;
}

ol.issues .latest_changes {
    margin-top: 10px;
    font-size: 85%;
}

li.issue_state_0, li.issue_state_1 {
    border-left: 5px solid green;
}

li.issue_state_2 {
    border-left: 5px solid #FF7F00;
}

li.issue_state_3 {
    border-left: 5px solid blue;
}

li.issue_state_4 {
    border-left: 5px solid red;
}

li.issue_state_5 {
    border-left: 5px solid #eee;
}

li.issue_state_5 * {
    color: #666;
    text-decoration: line-through;
}

.float {
    float: left;
}

.edit {
    width: 60%;
}

.changes {
    width: 39%;
}

.changes li {
    padding: 5px;
}
