.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-datepicker-week-col { text-align: center; }

body {
}

* {
    color: #333;
}

.ui-widget {
    font-size: 93%;
}

h1, h3, h3, h4, strong, b, .bold { font-weight: bold;}
h1 { font-size: 197% }
h2 { font-size: 174% }
h3 { 
    font-size: 116%;
    margin-top: 20px;
}

*[disabled] {
    color: #666;
}

.center {
    margin: 0 auto;
    margin-top: 20%;    
    text-align: center;
}

.container {
    border: 1px solid #ccc;
    padding: 10px;
}

.login {
    width: 200px;
}

.confirm {
    width: 410px;
}

#admin-panel {
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding: 5px;
    position: relative;
    height: 21px;

    background: #F5F8F9; 
}

#admin-panel .current_user {
    margin-left: 20px;
    margin-right: 10px;
    line-height: 22px;
}

#admin-panel .left {
    position: absolute;
    right: 5px;
    top: 5px;
}

#admin-panel .action {
    margin-left: 10px;
    font-size: 123.1%;
    float: left;
    line-height: 22px;

    color: #333;
}

#admin-panel a.add, a.add_link{
    text-indent: -999999px;
    display: inline-block;
    width: 24px;
    height: 24px;

    background: url(/images/service/plus.png);

    opacity: 0.3;
}

#admin-panel a.add:hover, a.add_link:hover {    
    opacity: 1;
}

.content {
    margin: 0 auto;
    width: 960px;

    padding-top: 20px;
}

form.service_form {
    margin-top: 20px;
}

form.service_form li {
    padding: 15px;
}

form.service_form li > input[type=submit] {
    padding: 5px 15px;
}

form.service_form li > label {
    display: inline-block;
    width: 200px;
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 93%;
}

form.service_form ol > li {
    position:relative;
    padding-left: 220px;
    font-size: 108%;
}

form.service_form ol > li.no-padding {
    padding-left: 15px;
}


form.service_form ol > li.header {
    padding-left: 5px;
    font-weight: bold;
}

form.service_form li > select {
    padding: 5px;
}

form.service_form li > input[type=text] {
    border: 1px solid #ccc;
    padding: 5px;
    width: 300px;
}

form.service_form li > input.datetime {
    width: 150px;
    background: url(/images/service/calendar.png) center right no-repeat;

    background-position: 140px 5px;
}

form.service_form li > textarea {
    border: 1px solid #ccc;
    padding: 5px;
    width: 300px;
    height: 100px;
}

ol.issues li {
    padding: 5px;
    margin: 5px;
}

ol.issues .state {
    font-size: 85%;
    margin-left: 5px;
    display: inline-block;
    width: 90px;
    white-space: nowrap;
}

ol.issues .updated, ol.issues .user {
    font-size: 85%;
    margin-left: 10px;
}

ol.issues .latest_changes {
    margin-top: 10px;
    font-size: 85%;
}

li.issue_state_0, li.issue_state_1 {
    border-left: 5px solid green;
}

li.issue_state_2 {
    border-left: 5px solid #FF7F00;
}

li.issue_state_3 {
    border-left: 5px solid blue;
}

li.issue_state_4 {
    border-left: 5px solid red;
}

li.issue_state_5 {
    border-left: 5px solid #eee;
}

li.issue_state_5 * {
    color: #666;
    text-decoration: line-through;
}

.float {
    float: left;
}

.edit {
    width: 60%;
}

.changes {
    width: 39%;
}

.changes li {
    padding: 5px;
}

ol ol {
    padding-left: 20px;
}

.tree {
    width: auto; 
    white-space: nowrap;
}

.tree .wrapper {
    width: 400px;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;    
    outline: 0;
    margin-top: 5px;
}

.tree .wrapper .level {    
    width: 190px;
    max-height: 600px;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    padding-right: 10px;
    padding-bottom: 60px;

    overflow-y: auto;
}

.tree .levels_header {
    width: 400px;
    height: 20px;
    margin-top: 10px;
}

.tree .levels_header a {
    margin-right: 5px;
    display: inline-block;
    max-width: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    text-decoration: none;    
}

.tree .levels_header a:hover {
    text-decoration: underline;
}

.tree .levels_header span {
    color: #666;
    margin-right: 5px;
}

.tree .active {
    font-weight: bold;
}

.tree .action_bar {
    width: 400px;
    position: relative;
    margin-top: 10px;
    z-index: 1;
    display: none;
}

.tree .item > .config {
    position: absolute;
    right: 0px;
    top: 0px;
    background: white url(/images/service/config.png) 3px 3px no-repeat;    
    text-align: right;
    display: inline-block;
    width: 28px;
    height: 18px;
    padding-right: 5px;
    padding-top: 2px;
    color: #999;
    cursor: pointer;

    z-index: 1;

    display: none;
}

.tree .opened .config {
    display: block;
    background-color: #eee;
}

.tree .item:hover .config {
    display: block;
}

.tree .item .config:hover {    
    color: #333;
}

.tree .item > .config.opened {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    -webkit-background-clip: padding-box;
    
    border-bottom: 0px;
    height: 21px;
    
    border: 1px solid #ccc;    

    padding-top: 1px;
    padding-right: 4px;

    background: white url(/images/service/config.png) 3px 2px no-repeat;    

    display: block;
}

.tree .item .panel {
    position: absolute;
    top: 23px;
    right: 0px;
    border: 1px solid #ccc;
    background: white;

    -webkit-border-radius: 5px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 5px;
    -moz-border-radius-topright: 0;
    border-radius: 5px;
    border-top-right-radius: 0;
    
    -webkit-background-clip: padding-box;

    z-index: 2;
}

.tree .item .panel a {
    display: block;
    padding: 5px;
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
}

.tree .item .panel a:hover {    
    background: #eee;
}

.tree > * {
    float: left;
}

.tree .item {
    font-size: 109%;
    position: relative;

    padding: 2px 0px;    

    padding-left: 20px;
    
    background: url(/images/service/blank.png) 4px 3px no-repeat;    
}

.tree .item .name {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    display: inline-block;
    padding: 0 5px;
}

.tree .opened {
    background-color: #eee;

    border-radius: 5px;
}


form.form {
    padding-left: 30px;
    width: 500px;
}

#facebox form.form {
    padding:3px;
    width: auto;
}

.tree .add {
    display: none;
    margin-right: 10px;
    color: green;
    cursor: pointer;
}

.tree .group > .item {
    background: url(/images/service/folder.png) 4px 2px no-repeat;    
}


form.form label {
    width: 150px;
    display: inline-block;
    margin-right: 30px;
}

form.form li {
    padding: 8px 0px;
    white-space: nowrap;
}

form.form input[type=text] {
    border: 1px solid #ccc;
    padding: 2px;
    width: 300px;
}

form.form span.field {
  white-space: nowrap;
}

input[type=button] {
  padding: 5px 10px;
}

form.form input[type=submit] {
    margin-top: 20px;
    padding: 5px 10px;
}

form.form .delete {
    margin-left: 10px;
    color: red;
    text-decoration: none;
    cursor: pointer;
}

form.form .add_field {
    margin-left: 10px;    
}

.tree label input {
    width: auto !important;
}

.legend .new {
    background: #77CCA4;
    border-radius: 5px;
    padding: 3px;
    color: white;
}

.tree div.state-new a.name {
    color: #77CCA4;
}

.legend .unchanged {
    background: #F0F0F0;
    border-radius: 5px;
    padding: 3px;
    color: #333;
}

.tree div.state-unchanged a.name {
    color: #F0F0F0;
}

.legend .changed {
    background: #2A8FBD;
    border-radius: 5px;
    padding: 3px;
    color: white;
}

.tree div.state-changed a.name {
    color: #2A8FBD;
}

.tree .without-editing a.name {    
    text-decoration: none;
}

.tree .without-editing a.config { 
    display: none;
}

.tree .without-editing .item:hover a.config { 
    display: none;
}

.tree .without-editing li div .add {
    display: none;
}

.legend {
    white-space: nowrap;
}

.legend > div {
    float: left;
    margin-right: 10px;
    cursor: default;
}

.legend {
    padding: 10px 0px;
    margin-bottom: 20px;
    position: relative;
}

.preview h3 {
    white-space: nowrap;
}

.preview .complete-import, .merging .next-step {
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
    background: #ccc;
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 15px;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.2, rgb(186,186,186)),
        color-stop(0.64, rgb(230,230,230))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(186,186,186) 20%,
        rgb(230,230,230) 64%
    );        
}

.preview .complete-import:hover {
    border-color: #aaa;
}

.tree form .info {
    color: blue;
    cursor: help;
    margin-left: 14px;
}


.tree form .delete_field {
    color: red;
    margin-left: 10px;
    cursor: pointer;
}

.tree form .configure_field {
    color: blue;
    margin-left: 10px;
    cursor: pointer;
}


.import-form .progress {
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #eee;
    height: 20px;
    width: 100%;
    margin-top: 10px;    
}

.import-form .progress .bar {
    background: green;
    border-radius: 5px;
    height: 20px;
}

.import-form h3 {
    margin: 0px;
}

.import-form .new-import {
    text-decoration: underline;
    color: green;
    padding-top: 20px;    
    cursor: pointer;
    clear: both;
}

.jspHorizontalBar
{
	top: -10px;
}
