<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssfonts/fonts-min.css">
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/cupertino/jquery-ui.css">

        {{ "service"|stylesheet }}
        {{ "ui.jqgrid"|stylesheet }}
        {{ "facebox"|stylesheet }}
        {{ "jquery.jscrollpane"|stylesheet }}
    </head>
    <title>{% block title %}Service{% endblock %}</title>
    <body>
        {% block body %}{% endblock %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>

        {{ "jquery-ui-i18n.min"|javascript }}
        {{ "jquery-ui-timepicker-addon"|javascript }}
        {{ "grid.locale-ru"|javascript }}
        {{ "jquery.jqGrid.min"|javascript }}
        {{ "jquery.form"|javascript }}
        {{ "jquery.sap.min"|javascript }}
        {{ "store.min"|javascript }}
        {{ "underscore-min"|javascript }}
        {{ "backbone-min"|javascript }}
        {{ "facebox"|javascript }}
        {{ "jquery.jscrollpane.min"|javascript }}        
        {{ "application"|javascript }}
        {{ "reference"|javascript }}
    </body>
</html>
