<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssfonts/fonts-min.css">
	    <link rel='stylesheet' type='text/css' href='/css/service.css'>
    </head>
    <title>{% block title %}Service{% endblock %}</title>
    <body>
        {% block body %}
        {% endblock %}
	    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    </body>
</html>
