<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssfonts/fonts-min.css">
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/cupertino/jquery-ui.css">

        {{ "service"|stylesheet }}
        {{ "ui.jqgrid"|stylesheet }}
        {{ "facebox"|stylesheet }}
        {{ "jquery.jscrollpane"|stylesheet }}
    </head>
    <title>{% block title %}Service{% endblock %}</title>
    <body>
        {% block body %}{% endblock %}
        
        <script type='text/javascript' src='/js/steal/steal.js?application.js'></script>
    </body>
</html>
