{% extends "./layout.html" %}
{% block body %}
<div id="admin-panel">
    <div class="right">
        <a href="/service/issues" class="action">Журнал заявок</a>
        <a href="/service/issue" class="action add" title="Создать заявку"></a>

        <a href="/service/documents" class="action" style="margin-left: 30px;">Журнал документов</a>
        <a href="/service/documents/new" class="action add" title="Создать документ"></a>

        <a href="/service/ref" class="action" style="margin-left: 30px;">Справочники</a>
    </div>
    <div class="left">
        {% if admin %}
        <a href="/service/users" class="action">Пользователи</a>
        {% endif %}

        <span class='current_user'>{{user.email}}</span>
        <a href="{{logout_url}}">Выйти</a>
    </div>
</div>
<div class="content">
    {% block content %}{% endblock %}
</div>
{% endblock %}
