{% extends "./layout.html" %}
{% block body %}
<div id="admin-panel">
    <div class="right">
        <a href="/service/issue" class="action">Создать заявку</a>
        <a href="/service/issues" class="action">Список заявок</a>
    </div>
    <div class="left">
        {% if admin %}
        <a href="/service/users" class="action">Пользователи</a>
        {% endif %}

        <span class='current_user'>{{user.email}}</span>
        <a href="{{logout_url}}">Выйти</a>
    </div>
</div>
<div class="content">
    {% block content %}{% endblock %}
</div>
{% endblock %}
