{% extends "./layout.html" %}
{% block content %}
<div class="content_box1">
Сервисная компания "РусСтрой" выполняет техническое обслуживание как по постоянно действующим договорам (абонентское обслуживание) с особыми и типовыми условиями, так и по разовым заявкам (инцидентное обслуживание) <br><br>Сотрудники компании имеют большой опыт технического обслуживания и ремонта оборудования и ремонта оборудования предприятий общественного питания.
</div> <!--content box1--> 
<div class="right_menu">
<b>Информация</b>
<ul>
  <li><a href="contacts.html">Телефоны и адреса</a></li>
  <li><a href="job.html">Работа в компании</a></li>
  <li><a href="constitution.html">Конституция</a></li>
  <li><a href="internship.html">Стажировка</a></li>
  <li><a href="clear.html">Ценные бумаги</a></li>
  <li><a href="clear.html">Поставщики</a></li>
</ul>	
</div>
{% endblock %}
