{% extends "./layout.html" %}
{% block menu %}
<td width="25%"><a href="news.html">Новости</a></td>
<td width="25%"><a href="ourwork.html">Наша работа</a></td>
<td width="25%" class="active"><a href="company.html">Компания</a></td>
<td width="25%"><a href="/my">Оставить заявку</a></td>
{% endblock %}
{% block content %}
<div class="content_box1">
Сервисная компания "РусСтрой" выполняет техническое обслуживание как по постоянно действующим договорам (абонентское обслуживание) с особыми и типовыми условиями, так и по разовым заявкам (инцидентное обслуживание) <br><br>Сотрудники компании имеют большой опыт технического обслуживания и ремонта оборудования и ремонта оборудования предприятий общественного питания.
</div> <!--content box1--> 
<div class="right_menu">
<b>Информация</b>
<ul>
  <li><a href="contacts.html">Телефоны и адреса</a></li>
  <li><a href="job.html">Работа в компании</a></li>
  <li><a href="internship.html">Стажировка</a></li>
</ul>	
</div>
{% endblock %}
