{% extends "./layout.html" %}
{% block content %}
<div class="content_box1">
Телефоны и адреса:<br><br>Телефон: (495) 960-20-43, адрес электропочты: mailbox@gotoservice.ru<br><br>Адреса сайтов в Интернет: www.go2service.ru ксервису.рф<br><br>Почтовый адрес: Российская Федерация, 105064, Москва г., Земляной Вал ул., дом №50а/8, стр.6<br><br>Адрес местонахождения: Российская Федерация, 105064, Москва г., Земляной Вал ул., дом №50а/8, стр.6 или Москва г., пер. Обуха, 8а
</div> <!--content box1--> 
<div class="right_menu">                  
</div>
{% endblock %}
