{% extends "./layout.html" %}
{% block logo %}
<img src="images/logo.png" width="140" height="40" alt="logo" align="right">
{% endblock %}
{% block banner %}
    <div class="banner"><img src="/images/banner.jpg"></div>
{% endblock %}
{% block content %}
<div class="text1">
    <ul TYPE ="SQUARE">
        <li>Начались продажи <a href="clear.html">энергоэффективных тэнов</a>. Вы можете <a href="clear.html">сравнить параметры</a> обычных и энергоэффективных тэнов.</li>
        <li>Компания "РусСтрой" - сертифицированный сервисный партнёр более <a href="clear.html">40 производителей оборудования.</a></li>
        <li>В <a href="clear.html">магазине</a> компании стали доступны типовые проекты пищевых блоков всех типов предприятий общепита.</li>
        <li>Завершены мероприятия по повышению энергоэффективности сети ресторанов Correa`s.</li>
        <li>Мы начали поставки <a href="clear.html">бесплатной чековой ленты</a> в рестораны Москвы.</li>
        <li>Открылись новые <a href="clear.html">филиалы</a> компании.</li>
    </ul>
</div>
<div class="text2">
    <p><b>«<a href="clear.html">Техногрет</a>»</b></p><br>
    <p><a href="clear.html">О размере возможной</a></p><br>
    <p><a href="clear.html">Пять правил выбора</a></p><br>
    <p><a href="clear.html">Когда затрыты на ремонт</a></p><br>
    <p><a href="clear.html">Экономим своё время при<br> звонке в службу сервиса</a></p><br>
</div>
<div class="text3">
    <p><b>«<a href="clear.html">Коллектор знаний</a>»</b></p><br>
    <p>§ 104. <a href="clear.html">О размере возможной экономии затрат на энергоресурсы</a></p><br>
    <p>§ 103. <a href="clear.html">Пять правил выбора поставщика</a></p><br>
    <p>§ 102. <a href="clear.html">Когда затрыты на ремонт больше стоимости нового оборудования становятся</a></p><br>
    <p>§ 101. <a href="clear.html">Экономим своё время при звонке в службу сервиса</a></p><br>
</div>
{% endblock %}
