{% extends "./layout.html" %}
{% block logo %}
<img src="images/logo.png" width="140" height="40" alt="logo" align="right">
{% endblock %}
{% block banner %}
<div class="banner"><div class='img'></div></div>
{% endblock %}
{% block content %}
<!--
<div class="text1">
    <ul TYPE ="SQUARE">
        <li>Тандыр с электрическим нагревом от KOCATEQ</li>
        <li>Новое укупорочное устройство банок крышкой «Твист-офф»</li>
        <li>Шкафы-витрины вертикальные серии RT-58L от KORECO</li>
        <li>Prismapak® - новая технология производства комбинированных банок</li>
        <li>Маркем-Имаж представляет новый аппликатор для нанесения этикеток</li>
        <li>Пресс для формования основания конусной пиццы PA-C4</li>
    </ul>
</div>
<div class="text2">
    <p><b>«<a href="clear.html">Техногрет</a>»</b></p><br>
    <p><a href="clear.html">О размере возможной</a></p><br>
    <p><a href="clear.html">Пять правил выбора</a></p><br>
    <p><a href="clear.html">Когда затрыты на ремонт</a></p><br>
    <p><a href="clear.html">Экономим своё время при<br> звонке в службу сервиса</a></p><br>
</div>
<div class="text3">
    <p><b>«<a href="clear.html">Коллектор знаний</a>»</b></p><br>
    <p>§ 104. <a href="clear.html">О размере возможной экономии затрат на энергоресурсы</a></p><br>
    <p>§ 103. <a href="clear.html">Пять правил выбора поставщика</a></p><br>
    <p>§ 102. <a href="clear.html">Когда затрыты на ремонт больше стоимости нового оборудования становятся</a></p><br>
    <p>§ 101. <a href="clear.html">Экономим своё время при звонке в службу сервиса</a></p><br>
</div>
-->
{% endblock %}
