{% extends "./layout.html" %}
{% block content %}
<div class="content_box1">
    Проводится набор стажеров. Краткий рассказ о&nbsp;себе и&nbsp;фото на&nbsp;internship@go2service.ru до&nbsp;11&nbsp;мая. Нужны желающие превратиться в&nbsp;будущем как в&nbsp;менеджеров, так и&nbsp;склонные к&nbsp;работе с&nbsp;механизмами и&nbsp;агрегатами, любящие человеческое общение, и&nbsp;просто хорошие люди. Стажеры, полагаясь на&nbsp;волю случая, смогут неделю поработать &laquo;в&nbsp;поле&raquo; участвую в&nbsp;техническом обслуживании оборудования, потом, скажем, собирать по&nbsp;архивам и&nbsp;библиотекам материалы для технической библиотеки. У&nbsp;каждого стажера будет наставник&nbsp;&mdash; сотрудник компании. Работа оплачивается в&nbsp;размере 10&nbsp;000&nbsp;PУБ.
</div> <!--content box1--> 
{% endblock %}
