{% extends "./layout.html" %}
{% block content %}
<div class="content_box1">
Инженер по ремонту теплового и холодильного оборудования общепита<br>
Уровень зарплаты от 35 000 руб.<br>Регион: Москва<br>Требуемый опыт работы 1-3 года<br><u>Обязанности</u><br>Техническое обслуживание и ремонт оборудования предприятий общественного питания<br><br><u>Требования</u><br>Техническое обслуживание и ремонт оборудования предприятий общественного питания<br>Техническое обслуживание и ремонт оборудования предприятий общественного питания<br>Техническое обслуживание и ремонт оборудования
предприятий общественного питания<br>Техническое обслуживание и ремонт оборудования предприятий общественного питания Техническое обслуживание и ремонт оборудования предприятий общественного питания<br><u>Условия</u><br>Техническое обслуживание и ремонт оборудования предприятий общественного питания<br>График:12.00-15.00<br/><u>Тип занятости</u><br>Техническое обслуживание и ремонт оборудования предприятий общественного питания<br><br><br>

Инженер по ремонту теплового и холодильного оборудования общепита<br>
Уровень зарплаты от 35 000 руб.<br>Регион: Москва<br>Требуемый опыт работы 1-3 года<br><u>Обязанности</u><br>Техническое обслуживание и ремонт оборудования предприятий общественного питания<br><br><u>Требования</u><br>Техническое обслуживание и ремонт оборудования предприятий общественного питания<br>Техническое обслуживание и ремонт оборудования предприятий общественного питания<br>Техническое обслуживание и ремонт оборудования
предприятий общественного питания<br>Техническое обслуживание и ремонт оборудования предприятий общественного питания Техническое обслуживание и ремонт оборудования предприятий общественного питания Техническое обслуживание и ремонт оборудования предприятий общественного питания Техническое обслуживание и ремонт оборудования предприятий общественного питания<br><u>Условия</u><br>Техническое обслуживание и ремонт оборудования
предприятий общественного питания<br>График:12.00-15.00<br/><u>Тип занятости</u><br>Техническое обслуживание и ремонт оборудования предприятий общественного питания<br><br><br>
</div> <!--content box1--> 
{% endblock %}
