{% extends "./layout.html" %}
{% block content %}
<div class="content_box1">
Инженер по сложному ремонту холодильного и оборудования общепита<br>
Уровень зарплаты от 45 000 руб.<br>Регион: Москва<br>Требуемый опыт работы от 5 лет<br><u>Обязанности</u><br>Техническая поддержка выездных инженеров службы сервиса;<br>ремонт оборудования в лаборатории;<br>простой компьютерный учёт знаний компании о неисправностях и способах их устранения.<br><br><u>Требования</u><br>Наличие экспертных знаний в области промышленных холодильных установок, теплового оборудования, систем кондиционирования;<br>наличие большого практического опыта ремонта промышленных холодильных установок, систем кондиционирования.<br><u>Условия</u><br>Работа в офисе;<br>график работы: в рабочие дни с 10.00 до 18.00;<br>ежемесячные и годовые премии;<br>доплата по больничному листу до оклада;<br>корпоративная мобильная связь;<br>офис в 10 мин. пешком от метро "Курская", "Чкаловская".<br><br><br>

Инженер по ремонту холодильного и оборудования общепита<br>
Уровень зарплаты от 35 000 руб.<br>Регион: Москва<br>Требуемый опыт работы 1-3 года<br><u>Обязанности</u><br>Техническое обслуживание и ремонт оборудования предприятий общественного питания.<br><br><u>Требования</u><br>Наличие знаний в области промышленных холодильных установок;<br>наличие практического опыта ремонта холодильных установок.<br><u>Условия</u><br>Работа на объектах заказчиков;<br>ежеквартальные и годовые премии;<br>доплата по больничному листу до оклада;<br>корпоративная мобильная связь;<br>компенсация затрат на проезд до места выполнения работ.<br><br><br>
</div> <!--content box1--> 
{% endblock %}
