{% extends "./layout.html" %}
{% block content %}
<div class="content_box1">
Сервисная компания "РусСтрой" осуществляет ремонт холодильного оборудования, теплового оборудования и пищевого технологического оборудования ресторанов, кафе, пиццерий, столовых.<br>  
Мы  выполняем техническое обслуживание, профилактическое обслуживание  и аварийный ремонт оборудования как по постоянно действующим договорам (абонентское обслуживание), так и по разовым заявкам (инцидентное обслуживание).  
Так же мы проводим пусконаладочные работы пищевого оборудования, монтаж нейтрального и прочего оборудования.  
Сотрудники компании имеют большой опыт технического обслуживания и ремонта оборудования предприятий общественного питания европейского, американского и российского производства.  <br><br>

Техническое обслуживание  <br>
Цель технического обслуживания – поддержание производственного оборудования в рабочем состоянии при минимальных затратах. Руководители имеют два главных подхода к техническому обслуживанию. Один подход является реактивным: устранять неисправности или другие проблемы по мере их возникновения. Это называется аварийным ремонтом.  
Другой подход является проактивным: он направлен на уменьшение числа неисправностей посредством выполнения программы смазки, регулировки, чистки, осмотра оборудования и замены изношенных деталей. Это называется профилактическим обслуживанием.<br>  
Руководители стараются сбалансировать эти два подхода таким образом, чтобы свести к минимуму сумму их общих расходов. При отсутствии профилактического обслуживания, затраты, вызванные неисправностями и проведением ремонтных работ, будут огромными. Более того, следует учитывать скрытые затраты, такие как потеря продукции и выплата заработной платы рабочим во время простоя оборудования. Также неизбежны затраты, связанные с ущербом здоровью людей и повреждениями прочего оборудования и мощностей или других производственных единиц. Однако за определённой чертой затраты на профилактическое обслуживание превышают выгоды от него – профилактическое обслуживание перестаёт себя окупать.  
Возраст и состояние мощностей и оборудования , уровень привлечённой технологии, тип производственного процесса и тому подобные факторы, – всё это учитывается при определении необходимого уровня профилактического обслуживания. Так, например, для нового оборудования может потребоваться небольшое профилактическое обслуживание, поскольку опасность неисправностей достаточно мала. По мере того, как оборудование стареет и изнашивается в процессе эксплуатации, повышается необходимость профилактического обслуживания, поскольку растёт опасность поломок.  
Таким образом, когда запасные части начинают проявлять признаки неисправности, их необходимо заменить до того, как они выйдут из строя. Точно так же, перед активной эксплуатацией необходимо произвести осмотр и (по необходимости) замену важнейших деталей, чтобы избежать прерывания работы и дорогостоящих срочных ремонтных работ.  <br><br>

Профилактическое обслуживание  <br>
Цель профилактического техобслуживания – уменьшение случаев неисправностей и отказов оборудования, чтобы избежать связанных с этим расходов. Эти расходы могут включать следующие факторы: потеря продукции; простои рабочих; нарушение графиков; несчастные случаи на производстве; нанесение ущерба прочему оборудованию или изделиям; ремонтные работы (поддержание запасов запасных частей, инструментов и оборудования для ремонта, зарплата специалистов по ремонту).  
Профилактическое обслуживание является периодическим. Оно может быть запланировано в соответствии с наличием обслуживающего персонала, а также с тем, чтобы избежать нарушения производственного графика. Как правило, график профилактических работ составляется с учётом некоторой комбинации следующих факторов:  <br>
1. По результатам плановых осмотров, которые выявляют необходимость в техобслуживании;  <br>
2. В соответствии с календарным планом (т. е. через определённый промежуток времени);  <br>
3. После определённого количества часов работы оборудования.  <br>
В идеале, профилактическое обслуживание производится непосредственно перед поломками  <br><br>

Программы аварийного ремонта  <br>
Опасность поломки оборудования можно значительно уменьшить использованием эффективных профилактических программ. Тем не менее, поломки и аварии время от времени происходят. Даже тем компаниям, где хорошо поставлено профилактическое обслуживание, нужны программы по аварийному ремонту оборудования. Ну и разумеется, те организации, которые меньше полагаются на профилактическое обслуживание, испытывают ещё большую потребность в эффективных способах борьбы с неисправностями.  <br>
В отличие от профилактического обслуживания, уже произошедшие неисправности нельзя спланировать, их приходится устранять на нерегулярной основе (т. е. по мере их появления). Среди основных подходов к устранению неисправностей следующие:  <br>
1. Резервное или дублирующее оборудование, которое можно быстро подключить вместо выбывшего из строя;  <br>
2. Резерв запасных частей, которые можно установить по мере необходимости, тем самым избегая потерь времени на заказ деталей, и буферные запасы, чтобы во время замены деталей не простаивало другое оборудование;  <br>
3. Операторы, которые могут выполнять по крайней мере мелкий ремонт своего оборудования;  <br>
4. Ремонтный персонал, который хорошо обучен и всегда готов выявить и устранить проблемы с оборудованием.  <br>
Степень использования на предприятии некоторых или всех этих методов зависит от того, насколько важна определённая единица оборудования для всей производственной системы. Здесь на одном полюсе – оборудование, которое является центром всей системы (например, — добавить примеры такого оборудования общепита --). На противоположном полюсе – оборудование, которое используется редко, потому что оно не играет важной роли в системе, а также оборудование, которое легко заменить.  <br>
Выводы ясны: программы аварийного ремонта более эффективны, когда они учитывают степень важности оборудования для производственной системы и способность системы функционировать без этого оборудования в течение некоторого времени.  <br> <br>

Замена оборудования  <br>
Когда неисправности становятся лишком частыми или вызывают большие расходы, руководители сталкиваются с определённым выбором, в котором затраты являются очень важным фактором. Какова будет стоимость замены по сравнению с расходами на продолжение техобслуживания и ремонта? Иногда этот вопрос трудно решить, особенно если нелегко или невозможно предсказать будущие неисправности. Архивные и статистические данные могут помочь определить ход событий в будущем.  <br><br>

Эксплуатация и техническое обслуживание производственных мощностей  – это важная функция системы. Сюда относятся все действия, связанные с поддержанием мощностей и оборудования в хорошем рабочем состоянии и поддержание внешнего вида сооружений и территорий.  <br>
Цель технического обслуживания свести к минимуму общие расходы на поддержание мощностей и оборудования в хорошем рабочем состоянии. Решения по техническому обслуживанию обычно балансируют преимущества профилактического обслуживания , которое направлено на уменьшение числа поломок и отказов оборудования, – и аварийного ремонта, который устраняет неисправности по мере их появления. <br>

</div> <!--content box1--> 
<div class="right_menu">
<ul>
  <li><a href="ourwork.html">Информация</a></li>
  <li><a href="rem1.html">Выезд сотрудника службы сервиса</a></li>
  <li><a href="rem2.html">Профилактические работы</a></li>
  <li><a href="rem3.html">Аварийные работы</a></li>
<li><a href="rem3.html">Прочие работы</a></li>
</ul>	
</div>
{% endblock %}
