{% extends "./layout.html" %}
{% block content %}
<div class="content_box1">
    <ul TYPE ="SQUARE">
        <li>Начались продажи <a href="clear.html">энергоэффективных тэнов</a>. Вы можете <a href="clear.html">сравнить параметры</a> обычных и энергоэффективных тэнов.</li>
        <li>Компания "РусСтрой" - сертифицированный сервисный партнёр более <a href="clear.html">40 производителей оборудования.</a></li>
        <li>В <a href="clear.html">магазине</a> компании стали доступны типовые проекты пищевых блоков всех типов предприятий общепита.</li>
        <li>Завершены мероприятия по повышению энергоэффективности сети ресторанов Correa`s.</li>
        <li>Мы начали поставки <a href="clear.html">бесплатной чековой ленты</a> в рестораны Москвы.</li>
        <li>Открылись новые <a href="clear.html">филиалы</a> компании.</li>
        <li>Начались продажи <a href="clear.html">энергоэффективных тэнов</a>. Вы можете <a href="clear.html">сравнить параметры</a> обычных и энергоэффективных тэнов.</li>
        <li>Компания "РусСтрой" - сертифицированный сервисный партнёр более <a href="clear.html">40 производителей оборудования.</a></li>
        <li>В <a href="clear.html">магазине</a> компании стали доступны типовые проекты пищевых блоков всех типов предприятий общепита.</li>
        <li>Завершены мероприятия по повышению энергоэффективности сети ресторанов Correa`s.</li>
        <li>Мы начали поставки <a href="clear.html">бесплатной чековой ленты</a> в рестораны Москвы.</li>
        <li>Открылись новые <a href="clear.html">филиалы</a> компании.</li>
        <li>Начались продажи <a href="clear.html">энергоэффективных тэнов</a>. Вы можете <a href="clear.html">сравнить параметры</a> обычных и энергоэффективных тэнов.</li>
        <li>Компания "РусСтрой" - сертифицированный сервисный партнёр более <a href="clear.html">40 производителей оборудования.</a></li>
        <li>В <a href="clear.html">магазине</a> компании стали доступны типовые проекты пищевых блоков всех типов предприятий общепита.</li>
        <li>Завершены мероприятия по повышению энергоэффективности сети ресторанов Correa`s.</li>
        <li>Мы начали поставки <a href="clear.html">бесплатной чековой ленты</a> в рестораны Москвы.</li>
        <li>Открылись новые <a href="clear.html">филиалы</a> компании.</li>
        <li>Начались продажи <a href="clear.html">энергоэффективных тэнов</a>. Вы можете <a href="clear.html">сравнить параметры</a> обычных и энергоэффективных тэнов.</li>
        <li>Компания "РусСтрой" - сертифицированный сервисный партнёр более <a href="clear.html">40 производителей оборудования.</a></li>
        <li>В <a href="clear.html">магазине</a> компании стали доступны типовые проекты пищевых блоков всех типов предприятий общепита.</li>
        <li>Завершены мероприятия по повышению энергоэффективности сети ресторанов Correa`s.</li>
        <li>Мы начали поставки <a href="clear.html">бесплатной чековой ленты</a> в рестораны Москвы.</li>
        <li>Открылись новые <a href="clear.html">филиалы</a> компании.</li>
        </ul>
</div> <!--content box1--> 




<div class="right_menu">



</div>
{% endblock %}
