{% extends "./layout.html" %}
{% block menu %}
<td width="20%" align="center" class="active"><a href="news.html">Новости</a></td>
<td width="20%" align="center"><a href="ourwork.html">Наша работа</a></td>
<td width="20%" align="center"><a href="company.html">Компания</a></td>
{% endblock %}
{% block content %}
<div class="content_box1">
    <ul class='news'>
        <li>
            <div class='date'>13 мая</div>
            <p>Начались продажи энергоэффективных тэнов.</p>
        </li>
        <li>
            <div class='date'>10 мая</div>
            <p>Компания "РусСтрой" - сертифицированный сервисный партнёр более 40 производителей оборудования.</p>
        </li>
        <li>
            <div class='date'>6 мая</div>
            <p>Новое укупорочное устройство банок крышкой «Твист-офф»</p>
        </li>
        <li>
            <div class='date'>29 апреля</div>
            <p>Шкафы-витрины вертикальные серии RT-58L от KORECO</p>
        </li>
        <li>
            <div class='date'>28 апреля</div>
            <p>Prismapak® - новая технология производства комбинированных банок</p>
        </li>
        <li>
            <div class='date'>27 апреля</div>
            <p>Маркем-Имаж представляет новый аппликатор для нанесения этикеток</p>
        </li>
        <li>
            <div class='date'>26 апреля</div>
            <p>Пресс для формования основания конусной пиццы PA-C4</p>
        </li>
        <li>
            <div class='date'>26 апреля</div>
            <p>Новинка! Морозильные лари POLAIR</p>
        </li>
        <li>
            <div class='date'>25 марта</div>
            <p>Картонная упаковка для пищевых продуктов:
экономичная и экологичная альтернатива</p>
        </li>
        <li>
            <div class='date'>22 марта</div>
            <p>Пищевые лотки и этикетки под тщательным контролем камер LUCEO
</p>
        </li>
    </ul>
</div> <!--content box1--> 

{% endblock %}
