{% extends "./layout.html" %}
{% block menu %}
<td width="20%"><a href="news.html">Новости</a></td>
<td width="20%" class="active"><a href="ourwork.html">Наша работа</a></td>
<td width="20%"><a href="company.html">Компания</a></td>
<td width="20%"><a href="/my">Оставить заявку</a></td>
{% endblock %}
{% block fmenu %}
<div class='work_footer'>
    <div class='container'>
        <div class='block'>
            <h3>История успеха</h3>
            <ul>
                <li><a href='http://www.correas.ru' target="_blank">сеть ресторанов "Correa`s"</a></li>
                <li><a href='http://www.udarnitsa.ru' target="_blank">фабрика "Ударница"</a></li>
                <li><a href='http://fresitapizza.ru' target="_blank">сеть пиццерий "Fresita Pizza"</a></li>
            </ul>
        </div>
        <div class='block'>
            <h3>Инструменты</h3>
            <ul>
                <li><a href='#'>Коллектор знаний</a></li>
            </ul>
        </div>
        <div class='block' style='width: auto;'>
            <h3>Ежедневно</h3>
            <ul>
                <li><a href="maintenance.html">Профилактические работы</a></li>
                <li><a href="emergency.html">Аварийные работы</a></li>
                <li><a href="eq_replacement.html">Замена оборудования</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="content_box">
<table style="width: 100%">
<tr>            
    <td class="work">
        <div class='header'><a href="#">Оборудование общепита</a></div>
        <div class='count'>0 заявок</div>
        <ul class='list'>
            <li>
                <div class='name'>Ремонт печи Lincoln 1305</div>
                <div class='gray'>Длительность: 00.00 час. Стоимость: 00`000,00 руб.</div>
            </li>
            <li>
                <div class='name'>Диагностика посудомоечной машины Meiko</div>
                <div class='gray'>Длительность: 00.00 час. Стоимость: 00`000,00 руб.</div>
            </li>
            <li>
                <div class='name'>Ремонт печи Lincoln с заменой тэна</div>
                <div class='gray'>Стоимость: 2000,00 руб.</div>
            </li>
            <li>
                <div class='name'>Ремонт печи Lincoln с заменой тэна</div>
                <div class='gray'>Стоимость: 2000,00 руб.</div>
            </li>
        </ul>
    </td>

    <td class="work">
        <div class='header'><a href="#">Холодильное оборудование</a></div>
        <div class='count'>110 заявок</div>
        <ul class='list'>
            <li>
                <div class='name'>Ремонт печи Lincoln 1305</div>
                <div class='gray'>Длительность: 02:25. Стоимость: 6`200,00 руб.</div>
            </li>
            <li>
                <div class='name'>Ремонт печи Lincoln с заменой тэна</div>
                <div class='gray'>Стоимость: 2000,00 руб.</div>
            </li>
            <li>
                <div class='name'>Ремонт печи Lincoln с заменой тэна</div>
                <div class='gray'>Стоимость: 2000,00 руб.</div>
            </li>
            <li>
                <div class='name'>Ремонт печи Lincoln с заменой тэна</div>
                <div class='gray'>Стоимость: 2000,00 руб.</div>
            </li>
        </ul>
    </td>

    <td class="work">
        <div class='header'><a href="#">Кондиционирование и вентиляция</a></div>
        <div class='count'>110 заявок</div>
        <ul class='list'>
            <li>
                <div class='name'>Ремонт печи Lincoln 1305</div>
                <div class='gray'>Длительность: 02:25. Стоимость: 6`200,00 руб.</div>
            </li>
            <li>
                <div class='name'>Ремонт печи Lincoln с заменой тэна</div>
                <div class='gray'>Стоимость: 2000,00 руб.</div>
            </li>
            <li>
                <div class='name'>Ремонт печи Lincoln с заменой тэна</div>
                <div class='gray'>Стоимость: 2000,00 руб.</div>
            </li>
            <li>
                <div class='name'>Ремонт печи Lincoln с заменой тэна</div>
                <div class='gray'>Стоимость: 2000,00 руб.</div>
            </li>
        </ul>
    </td>
</tr>
<tr>
    <td class="work">
        <div class='header'><a href="#">Водоподготовка</a></div>
        <div class='count'>110 заявок</div>
        <ul class='list'>
            <li>
                <div class='name'>Ремонт печи Lincoln 1305</div>
                <div class='gray'>Длительность: 02:25. Стоимость: 6`200,00 руб.</div>
            </li>
            <li>
                <div class='name'>Ремонт печи Lincoln с заменой тэна</div>
                <div class='gray'>Стоимость: 2000,00 руб.</div>
            </li>
            <li>
                <div class='name'>Ремонт печи Lincoln с заменой тэна</div>
                <div class='gray'>Стоимость: 2000,00 руб.</div>
            </li>
            <li>
                <div class='name'>Ремонт печи Lincoln с заменой тэна</div>
                <div class='gray'>Стоимость: 2000,00 руб.</div>
            </li>
        </ul>
    </td>
    
    <td class="work">
        <div class='header'><a href="#">Энергосбережение</a></div>
        <div class='count'>110 заявок</div>
        <ul class='list'>
            <li>
                <div class='name'>Ремонт печи Lincoln 1305</div>
                <div class='gray'>Длительность: 02:25. Стоимость: 6`200,00 руб.</div>
            </li>
            <li>
                <div class='name'>Ремонт печи Lincoln с заменой тэна</div>
                <div class='gray'>Стоимость: 2000,00 руб.</div>
            </li>
            <li>
                <div class='name'>Ремонт печи Lincoln с заменой тэна</div>
                <div class='gray'>Стоимость: 2000,00 руб.</div>
            </li>
            <li>
                <div class='name'>Ремонт печи Lincoln с заменой тэна</div>
                <div class='gray'>Стоимость: 2000,00 руб.</div>
            </li>
        </ul>
    </td>
    <td class='work'></td>
    <td class='work'></td>
</tr>
</table>
</div>
{% endblock %}
