{% extends "./layout.html" %}
{% block content %}
<div class="content_box1">

ремонт холодильного шкафа   <br>
ремонт льдогенератора  <br>
ремонт холодильной камеры <br> 
ремонт холодильной витрины  <br>
ремонт шкафа шоковой заморозки <br> 
ремонт прочего холодильного оборудования  <br>

</div> <!--content box1--> 
<div class="right_menu">
<ul>
  <li><a href="ourwork.html">Информация</a></li>
  <li><a href="rem1.html">Ремонт холодильного оборудования</a></li>
  <li><a href="rem2.html">Ремонт теплового оборудования</a></li>
  <li><a href="rem3.html">Ремонт технологического оборудования</a></li>
</ul>	
</div>
{% endblock %}
