{% extends "./layout.html" %}
{% block content %}
<div class="content_box1">
    ремонт тестомеса  <br>
ремонт мясорубки  <br>
ремонт слайсера  <br>
ремонт овощрезки  <br>
ремонт тестораскатки  <br>
ремонт прочего оборудования<br>
</div> <!--content box1--> 
<div class="right_menu">
<ul>
  <li><a href="ourwork.html">Информация</a></li>
  <li><a href="rem1.html">Ремонт холодильного оборудования</a></li>
  <li><a href="rem2.html">Ремонт теплового оборудования</a></li>
  <li><a href="rem3.html">Ремонт технологического оборудования</a></li>
</ul>	
</div>
{% endblock %}
