<div id="postav">
		<div id="post-le">
			<div class="post-le-in">
			<p>Наша квалификация</p>
				<div class="block">
           				<div class="img_block"><img class="img1" src="images/6.png" width="86" height="53" alt="logo"/></div>
						<div class="img_block"><img class="img1" src="images/7.png" width="107" height="69" alt="logo"/></div>
				</div>
			</div>	
		</div>
		<div id="post-ri">
			<div class="post-ri-in">
				<p>и компетенция</p>
					<div class="block">
						<div class="img_block2"><img class="img1" src="images/1.png" width="100" height="50" alt="logo"/></div>
                        <div class="img_block2"><img class="img1" src="images/2.png" width="100" height="50" alt="logo"/></div>
                        <div class="img_block2"><img class="img1" src="images/3.png" width="100" height="50" alt="logo"/></div>
                        <div class="img_block2"><img class="img1" src="images/4.png" width="100" height="50" alt="logo"/></div>
                        <div class="img_block2"><img class="img1" src="images/5.png" width="100" height="50" alt="logo"/></div>
						
					</div>
			</div>	
		</div>
	</div>