	<div id="links">
		<span>Поделиться ссылочкой:</span>
		<a href="#"><img class="img2" src="images/like.png" width="48" height="22" alt="logo" align="middle"></a>
		<a href="#"><img class="img2" src="images/tweet.png" width="57" height="22" alt="logo" align="middle"></a>
		<a href="#"><img class="img2" src="images/live.png" width="24" height="22" alt="logo" align="middle"></a>
		<a href="#"><img class="img2" src="images/vk.png" width="24" height="22" alt="logo" align="middle"></a>
		<a href="#"><img class="img2" src="images/ya.png" width="24" height="22" alt="logo" align="middle"></a>
		<a href="#"><img class="img2" src="images/plus.png" width="24" height="22" alt="logo" align="middle"></a>
	</div>
	<div id="clear"></div>
	<div id="footer">
		<table width="100%">	
		<tr>
			<td class="foot">
				<p>Электропочта: <a href="mailto:mailbox@go2service.ru">mailbox@go2service.ru</a><br>
				<a href="company.html">Телефоны и адреса компании</a><br>
				<a href="clear.html">Наши сайты</a><br>
			</td>
			<td class="foot">
				<p>© 2007–2011 Сервисная компания "КСЕРВИСУ"</p>
				<p>Рады видеть <a href="#">136 030</a>-го посетителя</p>
			</td>
			<td class="foot">
				<form name="web" method="get" action="">
				<input type="search" name="text" id="find" size="18" value="" maxlength="80">
				<input type="submit" value="Поиск">
				</form>
			</td>
		</tr>
		</table>		
	</div>
